@model IEnumerable<RemedyAcknowledgement.Models.Questionnaire>

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout1 .cshtml";
}

<h2>Feedbacks Questions</h2>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>

                @Html.ActionLink("Details", "FeedBackAnswerDetails", new { id = item.QuestionId })

            </td>
        </tr>
    }

</table>
